functions/process-ingredients/stateMachine.asl.yml
StartAt: Map
States:
  Map:
    Type: Map
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: Parse recipe ingredient start
      States:
        Parse recipe ingredient start:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
          Parameters:
            FunctionName: ${self:custom.parseIngredientStartFnName}
            Payload.$: $
          Retry:
            - ErrorEquals:
                - Lambda.ServiceException
                - Lambda.AWSLambdaException
                - Lambda.SdkClientException
                - Lambda.TooManyRequestsException
              IntervalSeconds: 1
              MaxAttempts: 3
              BackoffRate: 2
              Comment: Default lambda retrier
            - ErrorEquals:
                - RateLimitError
              BackoffRate: 2
              MaxAttempts: 10
              Comment: OpenAI rate limit hit
              IntervalSeconds: 2
          Catch:
            - ErrorEquals:
                - OutOfCreditsException
              Next: Send ot of credits notification
              ResultPath: null
              Comment: Out of credits
            - ErrorEquals:
                - InputTooLongException
              Comment: Igredient too long
              Next: Parse ingredient fail
              ResultPath: $.error
          Next: Parse ingredient success
        Parse ingredient success:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke
          OutputPath: $
          Parameters:
            Payload.$: $
            FunctionName: ${self:custom.parseIngredientSuccessFnName}
          Retry:
            - ErrorEquals:
                - Lambda.ServiceException
                - Lambda.AWSLambdaException
                - Lambda.SdkClientException
                - Lambda.TooManyRequestsException
              IntervalSeconds: 1
              MaxAttempts: 3
              BackoffRate: 2
              JitterStrategy: FULL
          Catch:
            - ErrorEquals:
                - ValidationError
              Next: Parse recipe ingredient start
              ResultPath: $.error
              Comment: Unable to parse AI output
          End: true
        Parse ingredient fail:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke
          OutputPath: $.Payload
          Parameters:
            Payload.$: $
            FunctionName: ${self:custom.parseIngredientFailFnName}
          Retry:
            - ErrorEquals:
                - Lambda.ServiceException
                - Lambda.AWSLambdaException
                - Lambda.SdkClientException
                - Lambda.TooManyRequestsException
              IntervalSeconds: 1
              MaxAttempts: 3
              BackoffRate: 2
              JitterStrategy: FULL
          End: true
        Send ot of credits notification:
          Type: Task
          Resource: arn:aws:states:::sns:publish
          Parameters:
            TopicArn: ${self:custom.parseIngredientFailNotificationSNSTopic}
            Message.$: States.Format('Ran out of AI credits while parsing recipe {}. Go top
              it up, white boy.', $.recipeId)
            Subject: Recipe parser ran out of money
            MessageDeduplicationId: $.recipeId
          End: true
    Next: AssembleRecipe
  AssembleRecipe:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload.$: $
      FunctionName: ${self:custom.assembleRecipeFnName}
    End: true
    Retry:
      - ErrorEquals:
          - ClientError
        BackoffRate: 2
        IntervalSeconds: 1
        MaxAttempts: 3
        Comment: Dynamo error
